.SEC{
	float: left;
}
h2{
	font-size: 30pt;
}
h3{
	font-size: 20pt;
}
@media screen and (min-width: 800px){
	.SEC{
		width: calc(100% / 3);
		height: 500px;
	}
	.REVIEW{
		background: blue;
	}
	.POSTER{
		background: green;
	}
	.DETAIL{
		background: red;
	}
}
@media screen and (max-width: 800px){
	.SEC{
		height: 500px;
	}
	.REVIEW{
		position: relative;
		width: 100%;
		background: blue;
		top: 500px;
	}
	.POSTER{
		position: relative;
		top: -500px;
		width: 50%;
		background: green;
	}
	.DETAIL{
		position: relative;
		top: -500px;
		width: 50%;
		background: red;
	}	
}