/* ISO */
/* SECTION TITLE */
.section_title{
  background: pink;  /* background image here plz */
  margin: 100px;
  margin-bottom: 50px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  vertical-align: middle;
  font-size:40pt;
}
/* MOVIE BUTTON */
.sorting_movie{
  width: 100%;
  padding-right: 100px;
}
.sorting_movie button{
  float: right;
}
/* MOVIE INDEX */
.overview_movie{
  margin-right: 100px;
  margin-left: 100px;
}
.onemovie{
  text-align: right;
  float: left;
  width: 280px;
  margin-top: 50px;
  margin-left: 100px;
}
.movie_image{
  width: inherit;
  height: inherit;
}
.none{
  margin-top:100px;
}
/* ISO FIN */

/*search bar*/
.search_bar{
  padding-left: 100px;
}
#searchbar{
  background-color: #D3D3D3;
  width: 250px;
  height: 40px;
  border: 0.3rem solid skyblue;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-radius: 5px;
}
#go{
  width: 59px;
  height: 40px;
  background-image: url('search.png');   
  background-size: contain;
  background-position:  0px 0px;
  background-repeat: no-repeat; 
  cursor:pointer;
  outline: 0;
}

/*wrapping division */
.wrap{
  border: solid black 0.1em;
  position: relative;
  width: 280px;
  height: calc(280px * 1.432);
}
.over{
  position: absolute;
  width: inherit;
  height: inherit;
}
.link_info{
  display: block;
  width: 100%;
  height: 50%;
  line-height: 180px;
  vertical-align: middle;
  text-align: center;
  font-size: 3em;
}
.link_info:hover{
  background-color: black;
  opacity: 0.6;
}
.link_purchase{
  display: block;
  width: 100%;
  height: 50%;
  line-height: 180px;
  vertical-align: middle;
  text-align: center;
  font-size: 3em;
}
.link_purchase:hover{
  background-color: black;
  opacity: 0.6;
}