body {
  line-height: 1;
  background-color: rgb(235, 235, 235);
}
body,
html {
  margin: 0;
  font-family: "Poor Story", cursive;

  /* 전체페이지에 기본적인 글꼴 변경하고싶으면 이거 넣고 모든 페이지 php위에
  <link href="https://fonts.googleapis.com/css?family=Poor+Story&display=swap&subset=korean" rel="stylesheet">
  이거 넣기 */
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.service_menu {
  /* padding-top: 5px;
  padding-bottom: 5px; */
  padding-right: 20px;
  font-family: "Poor Story", cursive;
  background-color: #efefef;
  overflow: hidden;
}

.service_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  text-align: center; /* 글씨 가운데 정렬 */
}

.service_menu li {
  font-style: white;
  margin-right: 10px;
  padding: 10 10 10 10;
  border: 0;
  float: left;
}

#gnb a {
  text-decoration: none;
}

#gnb p {
  margin-top: 0;
}
