body {
  line-height: 1;
}
body,html{
  margin:0;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.service_menu {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  background-color: #efefef;
}

.service_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  text-align: center; /* 글씨 가운데 정렬 */
}

.service_menu li {
  font-style: white;
  margin-right: 10px;
  padding: 10 10 10 10;
  border: 0;
  float: left;
}
