body {
  line-height: 2em;
  background: linear-gradient(to bottom, #2193b0, #368ca0);
  color: black;
}

.section_title {
  font-family: "Do Hyeon", sans-serif;
  color: white;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}
.section_title h1 {
  margin-top: 50px;
  color: black;
  font-size: 50pt;
  text-shadow: 2px 2px 1px rgb(255, 255, 255);
}

hr {
  width: 1300px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  padding-top: 0px;
}

ul,
li {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.right {
  float: right;
  margin-bottom: 10px;
  width: 90px;
  height: 40px;
  font-size: 15pt;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.right a {
  text-decoration: none;
  color: black;
}

#mainWrapper {
  padding-top: 10px;
  width: 1200px;
  margin: 0 auto;
  /*가운데 정렬*/
}

#mainWrapper > ul > li > button {
  float: right;
}
#mainWrapper > ul > li:first-child {
  text-align: center;
  font-size: 14pt;
  height: 40px;
  vertical-align: middle;
  line-height: 100px;
}

#ulTable {
  margin-top: 10px;
}

#ulTable > li:first-child > ul > li {
  background-color: #c9c9c9;
  font-weight: bold;
  text-align: center;
  font-size: 20pt;
  padding-top: 5px;
  padding-bottom: 5px;
}

#ulTable > li > ul {
  clear: both;
  padding: 0px auto;
  position: relative;
  min-width: 40px;
}

#ulTable > li > ul > li {
  float: left;
  font-size: 20pt;
  border-bottom: 1px solid silver;
  vertical-align: baseline;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  background-color: rgb(228, 228, 228);
  color: black;
}

/*No 열 크기*/
#ulTable > li > ul > li:first-child {
  width: 10%;
}

/*제목 열 크기*/
#ulTable > li > ul > li:first-child + li {
  width: 70%;
}

/*작성일 열 크기*/
#ulTable > li > ul > li:first-child + li + li {
  width: 20%;
}

#divPaging {
  clear: both;
  margin: 0 auto;
  width: 220px;
  height: 50px;
  font-size: 20pt;
  padding-top: 30px;
}

#divPaging > div {
  float: left;
  width: 30px;
  margin: 0 auto;
  text-align: center;
}

#liSearchOption {
  clear: both;
  float: left;
}

#liSearchOption > div {
  margin: 0 auto;
  /* margin-top: 30px; */
  width: auto;
  height: 50px;
}

.left {
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
}
