.container {
  text-align: center;
  background-color: white;
  border: 4px solid black;
}

.loginbox {
  display: inline-flex;
  justify-content: center;
  border: 5px solid;

  width: 450px;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.inp_chk {
  width: 150px;
  margin-right: 6px;
}
.btn_login {
  display: flex;
  text-align: center;
  width: 399px;
  height: 43px;
  justify-content: center;
  background-color: #4a82c1;
}
a:link {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: red;
}
#loginId {
  display: flex;
  width: 395px;
  height: 43px;
}
#loginPw {
  display: flex;
  width: 395px;
  height: 43px;
}

.login_append {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  width: 390px;
}

.inp_text {
  margin-bottom: 3px;
}
.txt_find {
  font-size: 12px;
  display: flex;
  padding-top: 2px;
  text-align: left;
  flex-direction: row;
}
.txt_register {
  font-size: 12px;
  padding-top: 2px;
  text-align: left;
  padding-left: 2px;
}
.link_find {
  text-align: left;
}

fieldset {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
