.navbar img {
  margin-left: 120px;
  float: left;
  width: 100px;
  height: 35px;
}

/* Navbar container */
.navbar {
  height: 50px;
  overflow: hidden;
  background-color: black;
  font-family: Arial;
  border: 4px solid black;
}
#first {
  margin-left: none;
}

#third {
  border: none;
}
/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 7px 15px;
  text-decoration: none;
}
/* The dropdown container */

.dropdown {
  margin-left: 0px;
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  margin-left: 5px;
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 15px 50px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar .dropdown:hover .dropbtn {
  background-color: #ca141e;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.reservebtn {
  margin-right: 50px;
  float: right;
  font-size: 15px;
  color: white;
  /* background-color: #b40000; */
  background-color: black;
  border: 1px solid white;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  margin-top: 9px;
  margin-bottom: 9px;
  font-family: inherit; /* Important for vertical align on mobile phones */
  /* Important for vertical align on mobile phones */
}
