body {
  line-height: 2em;
  background: linear-gradient(to bottom, #2193b0, #6dd5ed);
}
.section_title {
  font-family: "Do Hyeon", sans-serif;
  color: white;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}
.section_title h1 {
  margin-top: 50px;
  color: black;
  font-size: 50pt;
  text-shadow: 2px 2px 1px rgb(255, 255, 255);
}

hr {
  width: 1300px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  padding-top: 0px;
}

ul,
li {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.right {
  float: right;
  margin-bottom: 5px;
}

#mainWrapper {
  padding-top: 10px;
  width: 800px;
  margin: 0 auto;
  /*가운데 정렬*/
}

#mainWrapper > ul > li > button {
  float: right;
}
#mainWrapper > ul > li:first-child {
  text-align: center;
  font-size: 14pt;
  height: 40px;
  vertical-align: middle;
  line-height: 30px;
}

#ulTable {
  margin-top: 10px;
}

#ulTable > li:first-child > ul > li {
  background-color: #c9c9c9;
  font-weight: bold;
  text-align: center;
}

#ulTable > li > ul {
  clear: both;
  padding: 0px auto;
  position: relative;
  min-width: 40px;
}

#ulTable > li > ul > li {
  float: left;
  font-size: 10pt;
  border-bottom: 1px solid silver;
  vertical-align: baseline;
}

/*No 열 크기*/
#ulTable > li > ul > li:first-child {
  width: 10%;
}

/*제목 열 크기*/
#ulTable > li > ul > li:first-child + li {
  width: 70%;
}

/*작성일 열 크기*/
#ulTable > li > ul > li:first-child + li + li {
  width: 20%;
}

#divPaging {
  clear: both;
  margin: 0 auto;
  width: 220px;
  height: 50px;
}

#divPaging > div {
  float: left;
  width: 30px;
  margin: 0 auto;
  text-align: center;
}

#liSearchOption {
  clear: both;
}

#liSearchOption > div {
  margin: 0 auto;
  margin-top: 30px;
  width: auto;
  height: 100px;
}
/* 
#selSearchOption {
  width: 500px;
  height: 100px;
}

#txtKeyWord {
  width: 500px;
  height: 100px;
} */

.left {
  text-align: left;
}

/*search bar*/
/* .search_bar {
  padding-left: 100px;
  width: 350px;
}
#searchbar {
  margin-top: 0px;
  background-color: #ffffff;
  width: 260px;
  height: 33px;
  1border: 0.3rem solid skyblue;
  border-width: 3px;
  border-style: solid;
  border-color: black;
} */

#go {
  width: 40px;
  height: 40px;
  background-image: url("../component/img/search_1.png");
  background-size: contain;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: 0;
  border-width: 3px;
  border-style: solid;
  border-color: black;
}
