body,html{
	height: 100%;
}
h1{
	text-align: center;
}
main{
	height: 60%;
}
menu{
	float: left;
	margin-left: 5%;
	margin-right: 5%;
	width: 20%;
1	height: 100%;
}
article{
	float: left;
	width: 60%;
	height: 100%;
}
.menu_name,.menu_button{
	width: 100%;
	font-size: 15pt;
	text-align: center;
	padding-top: 6%;
	padding-bottom: 6%;
}
.menu_name{
}

section{
	background-color: gray;
	width: inherit;
	height: inherit;
}
.area{
	width: 100px;

}
.area button{
	width: inherit;
	height: calc(100% / 5);
}