html {
  font-family: "Poor Story", cursive;
}

body {
  background: linear-gradient(to bottom, #eab05e, #f39946);
  height: 1000px;
}

h1 {
  font-family: "Do Hyeon", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 50pt;
  text-shadow: 2px 2px 1px white;
  text-align: center;
}
main {
  height: 60%;
}

/* css styles for !--menu--! section */
menu {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  width: 20%;
  height: 100%;
}
.menu_name,
.menu_button {
  width: 100%;
  font-size: 15pt;
  text-align: center;
  padding-top: 6%;
  padding-bottom: 6%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: -5px;
}
.menu_name {
  background-color: skyblue;
}

/* end of styles (menu) */

.back,
.next {
  border: 1px solid skyblue;
  background-color: rgba(0, 0, 0, 0);
  color: skyblue;
  padding: 5px;
}

.back:hover,
.next:hover {
  color: white;
  background-color: skyblue;
}

/* article*/
article {
  float: left;
  width: 60%;
  height: 100%;
  min-height: 100%;
}
section {
  background-color: white;
  border: 3px solid black;
  border-radius: 3px;
  width: inherit;
  height: inherit;
}
/* end of styles (article) */

/*option 전역 */
.next,
.back {
  margin: 20px;
  margin-bottom: 0;
}
.next {
  margin-right: 10px;
  float: right;
}
.back {
  margin-left: 5px;
  float: left;
}
fieldset {
  width: 96%;
}
.moviebutton {
  width: 100%;
  height: 20px;
}

/*option 1:영화관 선택 */
.area,
.road {
  float: left;
  font-size: 15pt;
  width: 20%;
  height: 240px;
  overflow-y: auto;
  margin-right: 5%;
  border: solid skyblue;
}
.area button,
.road select {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
}

/*option 2: 영화 선택 */
#movies label {
  float: left;
}
#movies img,
#approvals img {
  margin: 10px;
  width: 200px;
  height: calc(200px * 1.432);
}

.movieposter {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.movieposter + img {
  cursor: pointer;
}

/* CHECKED STYLES */
.movieposter:checked + img {
  outline: 2px solid #f00;
}

/* option 3: 날짜 선택 */
#select_day {
  width: 50%;
  height: 300px;
  overflow-y: auto;
}
#select_day label {
  display: inline-block;
  width: 90%;
  background-color: skyblue;
  padding: 5px;
  border: 1px solid;
  margin: 2px;
}
#select_day label input[type="radio"] {
  display: none;
}

/* option 4: 좌석 선택 */
#select_seat {
  width: 300px;
  height: 300px;
}
