.right_info p {
  margin-top: 40px;
  font-size: 13pt;
}

.ticketing_num {
  color: red;
}

#can_issue {
  font-size: 20pt;
  margin-top: 10px;
}

.ticket_list_container {
  width: 800px;
  height: 250px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  margin: auto;
  margin-top: 50px;
}

.ticket_list_container p {
  font-size: 15pt;
}

.list_num {
  margin-top: 20px;
  margin-left: 30px;
  width: 100px;
  height: 200px;
  float: left;
}
.list_poster img {
  margin-top: 20px;
  margin-left: 50px;
  width: 150px;
  height: 200px;
  float: left;
}

.list_poster img {
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

.list_movie,
.list_theater,
.list_date,
.list_seat {
  padding: 0px;
  padding-left: 80px;
  float: left;
  line-height: 0px;
  margin: 0;
}
